<%- include('../cabecalho2') -%>
    <div class="container">
        <div class="imagem-fundo-tabuleiro">
            <img src="/admin/assets/fundojogo2.png" width="1518" height="730 " alt="Testando" class="img-fundo-imagem">
            </div>

        
        <script type="text/javascript">
        
            
            
            //if(teste == 1){
              //  var info = this.add.image(10,540,"/admin/assets/num2.png");
            //}
            //if(teste == 2){
            //    var info = this.add.image(300,540,"Info");
            //}
        </script>
        
        

        <link rel="stylesheet" href="admin/css/style.css">
        <% Questoes.forEach(function(questoes){ %>
        <div class="botao-proximo">
            <a href="/admin/telajogo/questao/<%=questoes.questao%>"
                class="btn btn-warning btn-circle-lg waves-effect waves-circle waves-float">
                <i class="material-icons">edit</i>
            </a>
        </div>
        <%});%>

        
        
        <div class="img-numero1-linha1">
            <img src="/admin/assets/num1.png" width="80" height="80" alt="Testando" class="img-fundo-imagem">
        </div>
        <div class="img-numero2-linha1">
            <img src="/admin/assets/num2.png" width="80" height="80" alt="Testando" class="img-fundo-imagem">
        </div>
        <div class="img-numero3-linha1">
            <img src="/admin/assets/num3.png" width="80" height="80" alt="Testando" class="img-fundo-imagem">
        </div>
        <div class="img-numero4-linha1">
            <img src="/admin/assets/num4.png" width="80" height="80" alt="Testando" class="img-fundo-imagem">
        </div>
        <div class="img-numero5-linha1">
            <img src="/admin/assets/num5.png" width="80" height="80" alt="Testando" class="img-fundo-imagem">
        </div>

        <div class="nomejogador1">
            <label class="TextoNomeJog1">Nome do Jogador 1</label>
        </div>

        
        
        <div class="img-botaojogador1">
            <img src="/admin/assets/botaojogador.png" width="80" height="80" alt="Testando" class="img-jogador4">
        </div>

    </div>
    
    
    </script>
<%- include('../rodape') -%>