<%- include('../cabecalho2') -%>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <form class="form-horizontal" method="POST">
                <div class="fundo-jogo">
                    <img src="/admin/assets/tela de ranking.png" width="1366" height="657"  alt="Testando" class="img-fundo-imagem">
                </div>
            </form>
         
                <form class="form-horizontal" method="POST"> 
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div>
                    <div>
                        
                        

                        <form class="form-horizontal" method="POST">
                        
                        
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Horizontal Layout -->
    </div>
</section>
    <script src="https://cdn.jsdelivr.net/npm/boodstrap@5.0.2/dist/js/boodstrap.bundle.min.js"></script>
<%- include('../rodape') -%>